<mat-card>
  <mat-card-title>Add product</mat-card-title>
  <mat-card-content>
    <form [formGroup]="productsForm" (ngSubmit)="submitProductsForm()">
      <div class="" *ngFor="let childForm of productsArray.controls; let i = index">
        <app-single-product
          [childForm]="childForm"
          [arrayIndex]="i"
          [totalProducts]="productsArray.length"
          (deleteProductFormEvent)="deleteSingleProductForm($event)"
        >
        </app-single-product>
      </div>
      <!--        [disabled]="!productArray.valid"-->
      <button type="button" mat-raised-button color="warn" (click)="addSingleProductForm()">Add product form</button>
      <div class="">
        <!--        [disabled]="!productForm.valid"-->
        <button type="submit" mat-raised-button color="primary">Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

