<form autocomplete="off" [formGroup]="childForm">
  <h4 class="product-form-title">Product {{ arrayIndex + 1 }}</h4>
  <div class="form-fields">
    <div class="form-field-container">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error *ngIf="nameField?.hasError('required')">Name is required</mat-error>
        <mat-error *ngIf="nameField?.hasError('minlength')">Name must have at least 3 chars</mat-error>
        <mat-error *ngIf="nameField?.hasError('maxlength')">Name must have a maximum of 30 chars</mat-error>
      </mat-form-field>
      <p class="submit-error" *ngIf="!isFormValid && !nameField?.dirty && !nameField?.touched">Name is required</p>
    </div>
    <div class="form-field-container">
      <mat-form-field appearance="fill">
        <mat-label>Count</mat-label>
        <input matInput type="number" formControlName="count">
        <mat-error *ngIf="countField?.hasError('required')">Quantity is required</mat-error>
        <mat-error *ngIf="countField?.hasError('min')">Quantity must be at least 1</mat-error>
        <mat-error *ngIf="countField?.hasError('max')">Quantity must be max 100</mat-error>
        <mat-error *ngIf="countField?.hasError('pattern')">Quantity must be a positive integer</mat-error>
      </mat-form-field>
      <p class="submit-error" *ngIf="!isFormValid && !countField?.dirty && !countField?.touched">Quantity is required</p>
    </div>
    <div class="form-field-container">
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price">
        <mat-error *ngIf="priceField?.hasError('required')">Price is required</mat-error>
        <mat-error *ngIf="priceField?.hasError('min')">Price must be at least 1</mat-error>
        <mat-error *ngIf="priceField?.hasError('max')">Price must be max 1000000</mat-error>
        <mat-error *ngIf="priceField?.hasError('pattern')">Price must be a positive integer</mat-error>
      </mat-form-field>
      <p class="submit-error" *ngIf="!isFormValid && !priceField?.dirty && !priceField?.touched">Price is required</p>
    </div>
    <div class="button-container">
      <button mat-raised-button color="warn" (click)="deleteProductForm(arrayIndex)">Delete</button>
    </div>
  </div>
</form>
