<mat-card *ngIf="companyData$ | async as companyData">
  <mat-card-title>{{ companyData[0].name }}</mat-card-title>
  <mat-card-content>
    <p>{{ companyData[0].address }}</p>
    <span *ngFor="let item of companyData[0].phones; last as last;">
      {{ item }}<span *ngIf="!last">, </span>
    </span>
  </mat-card-content>
</mat-card>
<ng-container *ngIf="products$ | async as products">
  <ng-container *ngIf="products.length > 0; else elseState">
    <table mat-table [dataSource]="products" class="mat-elevation-z8">

      <!-- Num Column -->
      <ng-container matColumnDef="num">
        <th mat-header-cell *matHeaderCellDef> Num </th>
        <td mat-cell>
          <input type="text">
        </td>
        <td mat-cell *matCellDef="let element; index as i;"> {{ i }} </td>
      </ng-container>

      <!-- Item Column -->
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef> Item </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Count Column -->
      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> Count </th>
        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['num', 'item', 'count', 'price']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['num', 'item', 'count', 'price']"></tr>
    </table>
  </ng-container>
  <ng-template #elseState>
    No items
  </ng-template>
</ng-container>
